<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 

</head>

<body class="bg-light-gray w-100">

<%- include ('./partials/header') %> 

<div class="w-100 p-8 m-center">
    <ul class="nav-section w-50  mb-8 flex">
        <li class="mx-10"><a href="/">Inicio</a></li>
        <li class="mx-10">/</li>
        <li class="mx-10">Productos</a></li>
    </ul>
</div>

<div class="banner-producto">
    <img src="/images/img-surf/banner-producto.jpg" alt="Imagen surf">
    <div><h2>Productos</h2></div>
</div>    

<section class="container">

    
    <article class="box-producto">
      
        
        <div class="descripcion-productos">

        <div class="img-productos">
          
            
            <div class="img-productos-principal">
                <img src="<%= product.image %>" alt="Tabla 1">
            </div>
            <ul class="img-productos-mini">
               <li><img src="<%= product.image %> " alt="Tabla 1"></li>
               <li><img src="<%= product.image %>" alt="Tabla 1"></li>
               <li><img src="<%= product.image %>" alt="Tabla 1"></li>
               <li><img src="<%= product.image %>" alt="Tabla 1"></li>
           </ul>
        </div>
        
        <div class="detalles-productos">
                <p class="titulo-productos"><%= product.category %> </p>
                 <p class="modelo-producto"> <%= product.type %></p>  
             
                <p class="precio-productos">$ <%= product.price %>   </p>
                <p class="contado-productos"><%= product.discount %>% OFF en un pago $ <%=Math.ceil(product.price*(100-product.discount)/100) %> </p>
                <p class="cuotas-productos"> o 12 cuotas fijas de $ <%= Math.ceil(product.price/12) %> </p>
                
                <p class="text-center boton-comprar-container"><a class="boton-comprar" href="/"> Comprar </a></p>
                <p><a class="agregar-carrito fas fa-shopping-cart" href="/"> Agregar al carrito</a></p>
                <p class="text-center boton-edit-container"><a class="boton-edit" href="/productos/<%=product.id %>/edit ">EDITAR PRODUCTO</a></p>
               
                <div class="medios-pagos"> 
                   <h2 >Medios de pago</h2> 
                    <p><i class="fab fa-cc-visa">  Visa</i>
                    <i class="fab fa-cc-mastercard">  Mastercard </i></p>
                    <p><i class="fab fa-cc-amex">  American Express</i>
                    <i class="fas fa-money-bill-wave">  Efectivo/transferencia</i></p>
                </div>
                <form class="destroy-form" action="/productos/<%=product.id %>/destroy?_method=DELETE" method="POST" enctype="multipart/form-data">
                    <p class="boton-delete-container text-center"><button type="submit" class=" boton-delete" >ELIMINAR PRODUCTO</button>
                </form>
            </div>    

        </div>
        <% if(product.category=="Tablas de surf") { %>
        <div class="container-caract-productos">
                    
            <p class="caract-productos">Caracteristicas </p>
            <ul class="lista-caracteristicas">                
                <li>Marca: <%= product.brand %></li>
                <li>Largo: <%= product.long %> pies</li>
                <li>Nivel de experiencia: <%= product.expertice %></li>
                <li>Espesor: <%= product.thickness %> pulgadas</li>
                <li>Volumen: <%= product.volume %> litros</li>
                <li>Tipo: <%= product.type %></li>
                <li>Material: <%= product.material %></li>
                <li>Quillas: <%= product.keels %></li>
            </ul>
        </div>
        <% } %>
        <section class="descripcion-general">
        <div class="texto-descripcion">
             <h2>Descripcion :</h2>
             <%= product.description %>
        </div>
     </section>
            
    </article>
    <section class="flex fx-wrap mt-16 fx-align-center tablas-relacionadas">
    
        <h2 class="font-heading mb-8 w-100 text-left ">Productos Relacionados </h2>

        <% products.forEach(products => 
        {if(products.category ==product.category && products.type ==product.type && products.id!=product.id ) {%> 
          <div class="w-50 w-desktop-25 p-8">
                <article class="product mb-8 bg-light-blue" id="1">
                    <a href="/productos/<%= products.id %>"><img class="w-100" src="<%= products.image %>" alt="Imagen de la tabla"/></a>
                    <div class="h-27 flex fx-wrap fx-align-center">
                        <h3 class="font-medium product-title w-100 text-center"><%= products.type %> </h3>
                        <p class="font-large w-50 text-center">$ <%= products.price %> </p>
                        <p class="font-medium w-50 text-center"><%= products.discount %> % OFF</p>

                    </div>
                   
                </article>
            </div>
            <% }}) %>
        
    </section>
   
<%- include ('./partials/footer') %> 

</body>
</html>