<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
<link rel = "stylesheet" href = "/css/forms.css"/>
</head>

<body class="bg-light-gray w-100">

    <%- include ('./partials/header') %> 
    
    <main class="form-main">
        
        <section class="section-form">
            
            <div class="bg-light-blue br-10">

                <form class="form" action="/tablas/crear" method="POST" enctype="multipart/form-data">
                    
                    <h2 class="w-100">Crear Tabla</h2>
                    <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="text" name="type" id="" placeholder="Nombre del producto" required>
                    </div>

                   <div class="w-100 fx-align-center p-8">
                       <input class="form-inp" type="text-box" name="description" id="" placeholder="Descripción" required>
                   </div>
                   
                   <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="text-box" name="price" id="" placeholder="Precio" required>
                   </div>

                   <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="text-box" name="discount" id="" placeholder="Descuento" required>
                   </div>

                   <div class="flex fx-wrap w-100 fx-align-center p-8">
                   <label for="url" class="w-100">Imagen del producto: </label>
                        <div class="w-100 p-8">
                            <input type="file" name="url" id="" multiple/>
                        </div>
                    </div>
                    
                   <div class="flex fx-wrap w-100 fx-align-center p-8 ">
                    <label for="brand_id" class="w-100">Marca: </label>
                    <div class="w-100 p-8">
                        <select name="brand_id" id="">
                            <% brands.forEach(brand => { %>
                                <option value="<%= brand.id%>"><%= brand.name %> </option>
                            <% }) %> 
                        </select>
                    </div>
                

                    <div class="flex fx-wrap w-100 fx-align-center p-8 ">
                        <label for="table_expertise" class="w-100">Nivel de Experiencia: </label>
                        <div class="w-100 p-8">
                            <select name="table_expertise" id="">
                                <option value="Principiante">Principiante</option>
                                <option value="Intermedio">Intermedio</option>
                                <option value="Profesional">Profesional</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="number" name="table_length" id="" placeholder="Largo" required>
                    </div>

                    <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="number" name="table_thickness" id="" placeholder="Espesor" required>
                    </div>

                    <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="number" name="table_volume" id="" placeholder="Volumen" required>
                    </div>

                    <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="text" name="table_material" id="" placeholder="Material de fabricacion" required>
                    </div>

                    <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="text" name="table_keels" id="" placeholder=" Quillas" required>
                    </div>
                    
                    <div class="w-100 fx-align-center p-8">
                        <button class="form-button" type="submit">Guardar</button>
                    </div>

                    <div class="w-100 fx-align-center p-8">
                        <button class="form-button" type="reset" >Resetear</button>
                    </div>

                </form>
                
            </div>

                        
        </section>

    </main>


    <%- include ('./partials/footer') %> 
    
</body>


</html>