<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/contacto.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/utils.css" />
  </head>
  <body>
    <%- include ('./partials/header') %>

    <main class="form-main">
      <section class="section-form">
        <div class="bg-light-blue br-10">
          
          <form class="form"  action="/users/:<%= user.id %>/edit?_method=PUT" method="POST">
         
            <h2 class="w-100">Editar Perfil</h2>

            <div class="w-100 fx-align-center p-8">
              <label>
                Nombre:
                <input
                  type="text"
                  class="form-inp"
                  name="first_name"
                  placeholder="Nombre"
                  value="<%= user.first_name%>"
                />
              </label>
            </div>
            <div class="w-100 fx-align-center p-8">
              <label>
                Apellido:
                <input
                  class="form-inp"
                  type="text"
                  name="last_name"
                  id=""
                  placeholder="Apellido"
                  value="<%= user.last_name%>"
                />
              </label>
            </div>
            <div class="w-100 fx-align-center p-8">
              <label>
                Mail:
                <input
                  type="mail"
                  class="form-inp"
                  placeholder="Correo electr칩nico"
                  name="email"
                  id=""
                  value="<%= user.email%>"
                />
              </label>
            </div>
            <div class="w-100 fx-align-center p-8">
              <label>
                Contrase침a:
                <input
                  type="password"
                  class="form-inp"
                  name="password"
                  id=""
                  value="<%= user.password%>"
                  placeholder="Contrase침a"
                />
              </label>
            </div>
            <div class="w-100 fx-align-center p-8">
              <label>
                DNI:
                <input
                  type="number"
                  class="form-inp"
                  name="dni"
                  id=""
                  placeholder="Documento"
                  value="<%= user.dni%>"
                />
              </label>
            </div>
            <div class="w-100 fx-align-center p-8">
              <label>
                Direcci칩n:
                <input
                  type="text"
                  class="form-inp"
                  name="address"
                  id=""
                  placeholder="Direccion"
                  value="<%= user.address%>"
                />
              </label>
            </div>
            <div class="w-100 fx-align-center p-8">
              <label>
                Nacimiento:
                <input
                  type="date"
                  class="form-inp"
                  name="birthday"
                  id=""
                  value="<%= user.birthday%>"
                />
              </label>
            </div>
            <div class="flex fx-wrap w-100 fx-align-center p-8">
              <label for="profile_image" class="w-100"
                >Imagen de Perfil:
              </label>
              <div class="w-100 p-8">
                <input
                  type="file"
                  name="image"
                  id=""
                  value="<%= user.image%>"
                />
              </div>
            </div>

            <div class="w-100 fx-align-center p-8">
              <button class="form-button" type="submit">Guardar</button>
          </div>

          <div class="w-100 fx-align-center p-8">
              <button class="form-button" type="reset" >Resetear</button>
          </div>

          </form>
        </div>
      </section>
    </main>
    <%- include ('./partials/footer') %>
  </body>
</html>
