<!DOCTYPE html>

<html lang="en">
<head>
    <%- include ('./partials/head') %> 
    <link rel = "stylesheet" href = "/css/carousel.css"/>
</head>

<body class="bg-light-gray w-100">

<%- include ('./partials/header') %> 

<main class="w-100 p-8 m-center">

    <div class="banner-envio">
        <marquee>
            <span>&nbsp;&nbsp;&nbsp;ENVIO GRATIS A TODO EL PAÍS&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;¡3 y 6 CUOTAS SIN INTERÉS!&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;&nbsp;ENVIO GRATIS A TODO EL PAÍS&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;¡ESTAMOS ENTREGANDO!&nbsp; &nbsp;</span>
        </marquee>
    </div>
    
    <section class="flex fx-wrap mt-16 fx-align-center">
        
        <h2 class="font-heading mb-8 w-100 text-center">Tablas Destacadas</h2>
        <% for(let i=0; i<4; i++) {%>
            <div class="w-50 w-desktop-25 p-8">
                <article class="product" id="">
                    <div>
                        <a href="/tablas/<%= tables[i].id %> ">
                            <img class="w-100" src="<%= tables[i].tables_images[0]? tables[i].tables_images[0].url: "/images/default.png"%> " alt="Imagen de la tabla"/>
                        </a>
                    </div>
                    <div class="product-div-info">
                        <h3 class="font-medium w-100 text-center"><%= tables[i].type %> </h3>
                        <p class="product-title font-large w-50 text-center">$ <%= tables[i].price %> </p>
                        <p class="product-title font-medium w-50 text-center"><%= tables[i].discount %> % OFF</p>
                    </div>
                </article>
            </div>
            <% }%>

    </section>

    <section class="flex fx-wrap mt-16 fx-align-center">
        
        <h2 class="font-heading mb-8 w-100 text-center"> Seguí Descubriendo Accesorios </h2>
        <% for(let i=0; i<4; i++) {%>
            <div class="w-50 w-desktop-25 p-8">
                <article class="product" id="">
                    <div>
                        <a href="/accesorios/<%= accessories[i].id %> ">
                            <img class="w-100" src="<%= accessories[i].accessories_images[0]? accessories[i].accessories_images[0].url: "/images/default.png"%> " alt="Imagen de la tabla"/>
                        </a>
                    </div>
                    <div class="product-div-info">
                        <h3 class="font-medium w-100 text-center"><%= accessories[i].type %> </h3>
                        <p class="product-title font-large w-50 text-center">$ <%= accessories[i].price %> </p>
                        <p class="product-title font-medium w-50 text-center"><%= accessories[i].discount %> % OFF</p>
                    </div>
                </article>
            </div>
            <% }%>

    </section>
            
    <section class="w-100 p-8">
        <h2 class="font-heading mb-8 w-100">Nuestras Marcas</h2>
        <div class="flex fx-align-center">
            <div class="w-25 p-8 text-center"><img class="w-50" src="/images/marcas/billabong-logo.png" alt="Billabong logo"></a></div>
            <div class="w-25 p-8 text-center"><img class="w-50" src="/images/marcas/oneill-logo.png" alt="Oneill logo"></a></div>
            <div class="w-25 p-8 text-center"><img class="w-50" src="/images/marcas/quiksilver-Logo.png" alt="Quicksilver logo"></a></div>
            <div class="w-25 p-8 text-center"><img class="w-50" src="/images/marcas/rip-curl-logo.png" alt="Rip curl logo"></a></div>
        </div>
    </section>
          
    <section class="w-100 p-8">
        <h2 class="font-heading mb-8 w-100">Nuestras Escuelas</h2>
        <div class="flex fx-wrap fx-align-center mt-16">
            <article class="w-50 w-desktop-25 p-8" >
                <a href="https://www.youtube.com/watch?v=KhZoTBuxHKY"><img class="w-100" src="/videos/video1.jpg" alt="billabong"></a>
            </article>
            <article class="w-50 w-desktop-25 p-8" >
                <a class="w-100 px-10" href="https://www.youtube.com/watch?v=x8dg7XKu_CI"><img class="w-100" src="/videos/video2.jpg" alt="hawai"></a>
            </article>
            <article class="w-50 w-desktop-25 p-8" >
                <a href="https://www.youtube.com/watch?v=1_azHA9quYg"><img class="w-100" src="/videos/video3.jpg" alt="billabong"></a>
            </article>
            <article class="w-50 w-desktop-25 p-8" >
                <a href="https://www.youtube.com/watch?v=tLB0We5SU2M"><img class="w-100" src="/videos/video4.jpg" alt="billabong"></a>
            </article>
        </div>        
    </section>
       
</main>

<%- include ('./partials/footer') %> 
<script src="/js/carousel.js"></script>
</body>


</html>