<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
</head>

<body class="bg-light-gray w-100">

<%- include ('./partials/header') %> 

<main class="w-100 p-8 m-center">

    <div class="banner-envio">
        <marquee>
            <span>&nbsp;&nbsp;&nbsp;ENVIO GRATIS A TODO EL PAÍS&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;¡3 y 6 CUOTAS SIN INTERÉS!&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;&nbsp;ENVIO GRATIS A TODO EL PAÍS&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;¡ESTAMOS ENTREGANDO!&nbsp; &nbsp;</span>
        </marquee>
    </div>

    <div class="w-100 p-8 m-center">
        <ul class="nav-section w-50  mb-8 flex">
            <li class="mx-10"><a href="/">Inicio</a></li>
            <li class="mx-10">/</li>
            <li class="mx-10"><a href="/nosotros">Nosotros</a></li>
        </ul>
    </div>
    
    <section class="flex fx-wrap mt-16 fx-align-center">
        
        <h2 class="font-heading mb-8 w-100 text-center">Tablas</h2>
        <% tablas.forEach(tablas => {%> 
            <div class="w-50 w-desktop-25 p-8">
                <article class="product" id="1">
                    <div>
                        <a href="/tablas/<%= tablas.id %>">
                            <img class="w-100" src="#" alt="Imagen de la tabla"/>
                        </a>
                    </div>
                    <div class="product-div-info">
                        <h3 class="font-medium w-100 text-center"><%= tablas.type %> </h3>
                        <p class="product-title font-large w-50 text-center">$ <%= tablas.price %> </p>
                        <p class="product-title font-medium w-50 text-center"><%= tablas.discount %> % OFF</p>
                    </div>
                   
                </article>
            </div>
            <% }) %>

    </section>
            
    <section class="w-100 ">
        <h2 class="font-heading mb-8 w-100">Nuestras Marcas</h2>
        <div class="flex fx-align-center">
            <img class="w-25 p-8" src="/images/marcas/billabong-logo.png" alt="Billabong logo"></a>
            <img class="w-25 p-8" src="/images/marcas/oneill-logo.png" alt="Oneill logo"></a>
            <img class="w-25 p-8" src="/images/marcas/quiksilver-Logo.png" alt="Quicksilver logo"></a>
            <img class="w-25 p-8" src="/images/marcas/rip-curl-logo.png" alt="Rip curl logo"></a>
        </div>
    </section>
        
       
</main>

<%- include ('./partials/footer') %> 
    
</body>


</html>