<!DOCTYPE html>

<html lang="en">
<head>
<%- include ('./partials/head') %> 
<link rel = "stylesheet" href = "/css/forms.css"/>
<script src="/script/forms.js"></script>
<script src="/script/productsCreation.js"></script>
</head>

<body class="bg-light-gray w-100">

    <%- include ('./partials/header') %> 
    
    <main class="form-main">
        
        <section class="section-form">
            
            <div class="bg-light-blue br-10">

                <div class="w-100 fx-align-center p-8">
                    <% if(locals.errors){ errors.forEach(error => {%>
                      <p class="font-navy"><%= error.msg %></p>
                      <% }) } %>
                  </div>

                <form class="form" action="/accesorios/crear" method="POST" enctype="multipart/form-data">

                    <h2 class="w-100">Crear Accesorio</h2>
                    
                    <div class="w-100 fx-align-center p-8">
                        <input class="form-inp" type="text" name="type" id="" placeholder="Nombre del producto" 
                        value="<%= locals.old && old.type ? old.type : ''%>"required>
                    </div>
                    <span class="w-100 text-center" id="spanType"></span>

                   <div class="w-100 fx-align-center p-8">
                       <input class="form-inp" type="text-box" name="description" id="" placeholder="Descripción" 
                       value="<%= locals.old && old.description ? old.description : ''%>"required>
                   </div>
                   <span class="w-100 text-center" id="spanDescription"></span>

                   <div class="w-100 fx-align-center p-8">
                    <input class="form-inp" type="text-box" name="price" id="price" placeholder="Precio" 
                    value="<%= locals.old && old.price ? old.price : ''%>"required>
                   </div>
                   <span class="w-100 text-center" id="spanNumber"></span>

                   <div class="w-100 fx-align-center p-8">
                    <input class="form-inp" type="text-box" name="discount" id="number" placeholder="Descuento">
                   </div>
                   <span class="w-100 text-center" id="spanNumber"></span>

                   <div class="flex fx-wrap w-100 fx-align-center p-8 ">
                    <label for="brand_id" class="w-100">Marca: </label>
                    <div class="w-100 p-8">
                        <select name="brand_id" id="">
                            <% brands.forEach(brand => { %>
                                <option value="<%= brand.id%>"><%= brand.name %> </option>
                            <% }) %> 
                        </select>
                    </div>
                    <div class="flex fx-wrap w-100 fx-align-center p-8">
                        <label for="url" class="w-100">Imagen del producto: </label>
                             <div class="w-100 p-8">
                                 <input type="file" name="url" id="" multiple/>
                             </div>
                         </div>
                </div>

                    <div class="w-100 fx-align-center p-8">
                        <button class="form-button" type="submit">Guardar</button>
                    </div>

                    <div class="w-100 fx-align-center p-8">
                        <button class="form-button" type="reset" >Resetear</button>
                    </div>

                </form>
                
            </div>

      
        </section>

    </main>

    <%- include ('./partials/footer') %> 
    
</body>


</html>