<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('./partials/head') %> 
    <link rel = "stylesheet" href = "/css/contacto.css"/>
    <link rel = "stylesheet" href = "/css/profile.css"/>
    <link rel = "stylesheet" href = "/css/forms.css"/>
    <link rel = "stylesheet" href = "/css/utils.css"/>
</head>
<body>

<%- include ('./partials/header') %> 

<main class="form-main p-desktop-45">

    <div class="profile">

        <h2 class="w-100 text-center">Editar Perfil</h2>

        <% if(locals.errors){ errors.forEach(error => {%>
            <p class="font-navy"><%= error.msg %></p>
          <% }) } %>

        <form
        action="/usuarios/<%= user.id%>?_method=PUT"
        method="POST" enctype="multipart/form-data"
      >
    
        <section class="flex fx-wrap p-desktop-15 fx-space-evenly">
            <article>
                <div>
                    <img  class= 'br-10 m-center w-300px' src="<%=user.image%>" alt="">
                <br>
                    <label > Cambiar Imagen de Perfil</label>
                    <input
                    type="file"
                    name="profile_image"
                    id="profile_image"
                    value="<%= user.image%>"
                    />
                </div>
            </article>
            <article class="flex fx-wrap w-50 fx-align-center">
                <h2 class="w-100 p-8 mb-0">Datos personales</h2>
                <ul class="no-style w-100">
                    <li class="w-100 p-8 flex fx-wrap fx-align-center fx-space-between">
                        <h3 class="p-10">Nombre:</h3>
                        <input
              type="text"
              class="form-inp"
              name="first_name"
              id="first_name"
              placeholder="Nombre"
              value="<%= locals.old && old.first_name ? old.first_name : user.first_name%>"
              />
                    </li>
                    <li class="w-100 p-8 flex fx-wrap fx-align-center fx-space-between">
                        <h3 class="p-10">Apellido:</h3>
                        <input
              class="form-inp"
              type="text"
                  name="last_name"
                  id="last_name"
                  placeholder="Apellido"
                  value="<%= locals.old && old.last_name ? old.last_name: user.last_name%>"
                />
                    </li>
                    <li class="w-100 p-8 flex fx-wrap fx-align-center fx-space-between">
                        <h3 class="p-10">Mail:</h3>
                        <input
                  type="mail"
                  class="form-inp"
                  placeholder="Correo electrónico"
                  name="email"
                  id="email"
                  value="<%= locals.old && old.email ? old.email : user.email%>"
                />
                    </li>
                    <li class="w-100 p-8 flex fx-wrap fx-align-center fx-space-between">
                        <h3 class="p-10">DNI:</h3>
                        <input
                  type="number"
                  class="form-inp"
                  name="dni"
                  id="dni"
                  placeholder="Documento"
                  value="<%= locals.old && old.dni ? old.dni : user.dni%>"
                  />
                    </li>
                    <li class="w-100 p-8 flex fx-wrap fx-align-center fx-space-between">
                        <h3 class="p-10">Direccion:</h3>
                        <input
                type="text"
                class="form-inp"
                  name="address"
                  id="address"
                  placeholder="Direccion"
                  value="<%= locals.old && old.address ? old.address : user.address%>"
                />
                    </li>
                    <li class="w-100 p-8 flex fx-wrap fx-align-center fx-space-between">
                        <h3 class="p-10">Nacimiento:</h3>
                        <input
                  type="date"
                  class="form-inp"
                  name="birthdate"
                  id="nacimiento"
                  value="<%= locals.old && old.birthdate ? old.birthdate : user.birthdate %>"
                />
                    </li>
                </ul>

                <article class="w-100 flex text-center fx-space-between">     
                    <div class="profile-button">
                            <button class="form-button" type="submit">Guardar</button>
                        </a>
                    </div>
                    <div class="profile-button">
                        <button class="form-button" type="reset">Resetear</button>
                        </a>
                    </div>
                </article>

            </article>
        </section>
    </form>    
    </div>
    </div>
</main>
<%- include ('./partials/footer') %> 
</body>
</html>